<h1>Contact page</h1>
<div class=" ps-2">
    <p>This is the contact page. Go to the <a href="/start">Start page</a>.</p>
    <h3>Telephone number :</h3><p>1234561239</p>
    <h3>E-mail :</h3><p>issaissa@gmail.com</p>
</div>
