<main id="main1">
    <h1 class="display-3 ps-2"> Welcome to my page !</h1>
    
        <div class="container1">
            <img src="/static/imag1.jpg" alt="sun" style="width: 900px;height: 400px;">
        </div>
    <div class="ps-2">
        <p class="mt-3">On this website I will grade songs and give a brief review<br>
        
        </p>
        <p> <strong>Note: </strong>You can comment and request songs for me to grade.</p>
        <p>This is the start page.  <br></p>
        <p> Go to the <a href="/about">About me page</a>.</p>
        <p>Go to the <a href="/hbs">Blog page</a>.</p>
        <p>Go to the <a href="/request">Request page</a>.</p>
        <p>Go to the <a href="/contact">Contact page</a>.</p>
        <p>Go to the <a href="/login">Login page</a>.</p>
        <p>Go to the <a href="/comment">Comment page</a>.</p>
    </div>
</main>

